@font-face {
    font-family: 'titulo';
    src: url(./Fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'number';
    src: url(./Fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'titulo';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 28.75rem;
    height: 30.6875rem;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5%;
}

.close {
    width: 2rem;
    position: relative;
    left: 90%;
}

h1 {
    font-size: 1.3rem;
    font-family: 'titulo';
    font-weight: bolder;
    color: #151A41;
    word-wrap: break-word;
    width: 15rem;
    text-align: start;
    margin-left: 3rem;
    /* position: relative;
    left: -15%; */
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 80%;
    margin-left: 3rem;
}

.box-number {
    width: 4.1rem;
    height: 4.2rem;
    padding: 0.4rem;
    background-color: white;
    border: 0.1rem solid;
    border-color: #151A41;
    font-family: 'number';
    font-weight: bold;
    border-radius: 10%;
    color: black;
}

.comentario {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    text-align: start;
    margin-left: 3rem   ;
}

.comment {
    width: 7rem;
    word-wrap: break-word;
}

.check {
    display: flex;
    align-items: center;
    position: relative;
    left: -85px;
    margin-left: 3rem;
}

#acepto {
    appearance: none;
    cursor: pointer;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    appearance: none;
    border: 0.18rem solid #151A41;
    border-radius: 25%;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    margin-left: 5.2rem;
}

#acepto:checked {
    background-color: #151A41;
}

.siguiente {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60%;
    height: 15%;
    border: solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    color: #151A41;
    font-family: 'number';
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    padding: 0.1rem;
    margin-left: 20%;
}

.siguiente img {
    width: 10%;
}

.box-number:hover {
    background-color: FF0099;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(255, 0, 153, 0.4);
}

.close:hover {
    cursor: pointer;
}

.siguiente:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

}

@media (max-width:576px) {
    .container {
        width: 25rem;
        height: 28rem;
    }
}